.container {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  border: 2px solid slategrey;
  padding: 20px;
  width: 500px;
  margin-top: 15px;
  border-radius: 3px;
}

.buttons{
  display: flex;
  flex-direction: column;
}

.buttons div {
  margin-bottom: 10px;
}

.calc {
  margin-top: 20px;
}

.inputs {
  float: left;
}

.calc div {
  text-align: right;
}

form div .btnCont {
  text-align: left;
}

.newPerson {
  float: left;
}

form div div .nameInput {
  margin-left: 1px;
}

.btnCont {
  margin-bottom: 20px;
}

.addBtn {

}

.calc div label {
  float: left;
}

.reset {
  margin-left: 30px;
}

.btn {
  margin-top: 20px;
  float: left;
}

div form div .res {
  margin-left: 0px;
}

.calc div input {
  margin-left: 20px;
  margin-bottom: 15px;
  width: 90px;
  height: 20px;
}

.result {

}
